<template>
<div>
    <section class="titulo">
        <h2 class="text-center fonte-titulo cor-especial pt-4">Receitas para economizar e ganhar saúde</h2>
        <p class="text-center text-secondary pb-4">Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar, ganhar tempo e praticidade</p>
    </section>
    <section class="container-fluid bg-light">
        <div class="row justify-content-center">

            <article class="card borda-cor-especial card-largura p-0 m-4 col-sm-12 col-xs-12 col-md-4">
            <img src="../../../static/receita-abacate.jpg" class="card-img-top card-posicao-imagem" alt="tigela com salada de abacate, vista superior">
            <div class="card-body">
                <h5 class="card-title">Tigela de Abacate</h5>
                <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
                <a href="#" class="btn botao-cor-especial">Veja a receita</a>
            </div>
            </article>

            <article class="card borda-cor-especial card-largura p-0 m-4 col-sm-12 col-xs-12 col-md-4">
            <img src="../../../static/receita-kiwi.jpg" alt="tigela de mingau com kiwi, vista superior" class="card-img-top card-posicao-imagem">
            <div class="card-body">
                <h5 class="card-title">Salada de kiwi</h5>
                <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
                <a href="#" class="btn botao-cor-especial">Veja a receita</a>
            </div>
            </article>

            <article class="card borda-cor-especial card-largura p-0 m-4 col-sm-12 col-xs-12 col-md-4">
            <img src="../../../static/receita-mix.jpg" alt="prato com mix de vegetais e mão de pessoa adicionando azeite, vista superior" class="card-img-top card-posicao-imagem">
            <div class="card-body">
                <h5 class="card-title">Mix de vegetais</h5>
                <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
                <a href="#" class="btn botao-cor-especial">Veja a receita</a>
            </div>
            </article>

            <article class="card borda-cor-especial card-largura p-0 m-4 col-sm-12 col-xs-12 col-md-4">
            <img src="../../../static/receita-pimentoes.jpg" alt="prato de salada de pimentões com alguns ingredientes ao lado, vista superior"
                class="card-img-top card-posicao-imagem">
            <div class="card-body">
                <h5 class="card-title">Pimentões à Juliana</h5>
                <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
                <a href="#" class="btn botao-cor-especial">Veja a receita</a>
            </div>
            </article>

            <article class="card borda-cor-especial card-largura p-0 m-4 col-12  col-md-4">
          <img src="../../../static/receita-oriental.jpg" alt="tigela com salada de vegetais estilo oriental, vista de cima" class="card-img-top card-posicao-imagem">
          <div class="card-body">
            <h5 class="card-title">Prato Oriental</h5>
            <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
            <a href="#" class="btn botao-cor-especial">Veja a receita</a>
          </div>
        </article>

        <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4">
          <img src="../../../static/receita-beterrabas.jpg" alt="tigela com beterrabas e dentes de alho assados em primeiro plano, com ingredientes ao fundo"
            class="card-img-top card-posicao-imagem">
          <div class="card-body">
            <h5 class="card-title">Beterrabas assadas</h5>
            <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
            <a href="#" class="btn botao-cor-especial">Veja a receita</a>
          </div>
        </article>
        </div>
    </section>
    </div>
    </template>

    <style>
    .card-posicao-imagem{

    object-fit: cover;
    height: 12.5em;
    }

    .card-largura{

    max-width: 18rem;
    }
    </style>