<template>
<section class="carrossel">
      <div id="carouselExampleCaptions" class="carousel slide" data-interval="3000" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../static/carrossel-img1.jpg" class="d-block w-100 imagem-carrossel-1" alt="...">
            <div class="carousel-caption d-none d-md-block h-50">
              <h1 class="fonte-titulo display-4">Reaproveite melhor os alimentos!</h1>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../static/carrossel-img2.jpg" class="d-block w-100 imagem-carrossel-2" alt="...">
            <div class="carousel-caption d-none d-md-block h-50">
              <h1 class="fonte-titulo display-4">Economize e ganhe em saúde!</h1>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</section>
</template>

<style>
.imagem-carrossel-1, .imagem-carrossel-2{

    object-fit: cover;
    height: 25em;
}

.imagem-carrossel-1{

    object-position: 0 80%;
}
</style>