<template>
    <div>
        <header>
          <home-navbar></home-navbar>
        </header>
        <main>
          <home-carousel></home-carousel>
          <cards></cards>
        </main>
        <home-modal></home-modal>
        <home-footer></home-footer>
    </div>
</template>




<script>
import Navbar from '../shared/navbar/Navbar.vue';
import Carousel from '../shared/carousel/Carousel.vue';
import Cards from '../shared/cards/Cards.vue';
import Modal from '../shared/modal/Modal.vue';
import Footer from '../shared/footer/Footer.vue';

export default {

  components: {

    'home-navbar': Navbar,
    'home-carousel': Carousel,
    'cards': Cards,
    'home-modal': Modal,
    'home-footer': Footer
  },

  name: 'app'
}
</script>




<style>
  
.fonte-titulo{

    font-family: 'Pacifico', cursive;
}
.cor-especial{

    color: darkred;
}

.botao-cor-especial{

    color: white;
    background-color: darkred;
}

.texto-cor-especial{

    color: darkred
}

.borda-cor-especial{

    border-color: darkred;
}
</style>
