<template>
<div class="modal fade" id="modalContato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <dialog class="modal-content">
        <header class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Entre em contato</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </header>
        <main class="modal-body">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Nome</label>
              <input type="text" class="form-control" placeholder="Insira seu nome completo" id="formGroupExampleInput">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Endereço de Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Deixe seu comentário</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Insira seu comentário"></textarea>
            </div>
          </form>
        </main>
        <footer class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn botao-cor-especial borda-cor-especial">Enviar</button>
        </footer>
      </dialog>
      </div>
    </div>
</template>