<template>
<footer class = "bg-secondary p-3">
    <p class = "text-light m-0 text-center">Contato: 
      <a href="mailto:email@frutafruto.com.br" class = "text-light">email@frutafruto.com.br</a>
    </p>
</footer>
</template>
