<template>
  <div id="app">
    <LoadingScreen :isLoading="isLoading" />
    <div v-if="!isLoading">
      <home></home>
    </div>
  </div>
</template>




<script>
import Home from './components/home/Home.vue';
import LoadingScreen from "./components/LoadingScreen.vue";

export default {

  components: {
    'home': Home,
    LoadingScreen
  },

  name: 'app',

  data() {
    return { isLoading: true };
  },

  mounted() {
    setTimeout(() => {
      this.isLoading = false;
    }, 5000);
  }

}
</script>




<style>
</style>
